html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.banner {
  user-select: none;
  width: 100%;
}

#title {
  background-color: black;
  box-sizing: border-box;
  color: white;
  padding: 16px;
  position: relative;
}
#logo {
  font-size: 300%;
  font-weight: bold;
}
#welcome {
  color: lightgrey;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

#menu {
  background-color: #111;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#menu li {
  float: left;
}
#menu li.right {
  float: right;
}
#menu li a {
  color: white;
  display: block;
  font-weight: bold;
  outline-width: 0;
  padding: 16px;
  text-decoration: none;
}
#menu li a > i {
  vertical-align:middle;
}
#menu li.ui-state-active a {
  color: orange;
  cursor: default;
}
#menu li:not(.ui-state-active) a:hover {
  cursor: pointer;
  color: orange;
}


#main .ui-tabs-panel {
  padding: 16px;
}

.result table {
  border-collapse: collapse; 
}
.result tbody tr > * {
  padding: 15px;
}
.result tbody tr > *:not(:first-child) {
  padding-left: 30px;
}
.result tbody td {
  border-bottom: 1px solid lightgrey;
}
.result thead td {
  border-bottom: 3px solid black;
}
.result tr:last-child td {
  border-bottom: 3px solid black;
}
.result i {
  color: lightgrey;
  vertical-align:middle;
}
.result tbody tr:hover {
  background-color: #f5f5f5;
}


.settings {
  background-color: orange;
  color: white;
  font-weight: bold;
  margin: 20px 0 10px 0;
  padding: 5px;
}